body{
    margin: 0px;
    padding: 0px;
}

/* repetido de header-caller hecho en el article_mobile.css*/


.header-caller{
    width: 50px;
    height: 40px;
    background-color: #1a293d;
    position: fixed; /* stiky es como un hibrido entre absolute y fixed*/
    right: 10px;
    top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.header-caller__line{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 1px #101822;
}


/*----------------------------------------------------------*/

.header{
    width: 75%;
    min-height: 630px;
    /*position: relative;*/
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.header__container{
    display: block;
    overflow: scroll;
    position: sticky;
}
.header__title{
    width: 100%;
    height: 150px;
    background-color: #192536;
    font-family: 'Michroma', sans-serif;   /*'Montserrat', sans-serif;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__title-link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.nav{
    font-family: 'Montserrat', sans-serif;;
}
.nav__ul{
    list-style: none;
    padding: 0px;
    padding-left: 10px;
}
.nav__item{
    
    display: block;
    border-bottom: 1px solid black;
}
.nav__link{
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    display: block;
    padding: 20px 10px;
    
}