body{
    margin: 0px;
    padding: 0px;
}

/* repetido de header-caller hecho en el article_mobile.css*/


.header-caller{
    width: 50px;
    height: 40px;
    background-color: #1a293d;
    position: fixed; /* stiky es como un hibrido entre absolute y fixed*/
    right: 10px;
    top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.header-caller__line{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 1px #101822;
}



/* Al hacer clic sobre el enlace que abre el menu esta desaparece */
.header-caller--close{
    display: none;
}
.header-caller:target





/*----------------------------------------------------------*/

.header{
    /*width: 75%;*/
    min-height: 630px;
    background-color: #ffffff;

    
    /* para la activación por el header__caller*/
    width: 0%;
    overflow: hidden;
}
#header-slide:target, .header-caller:target .header-caller--close{
    width: 75%;
}


/*.header__container{
    display: block;
    overflow: scroll;
}*/

.header__title{
    width: 100%;
    height: 150px;
    background-color: #192536;
    font-family: 'Michroma', sans-serif;   /*'Montserrat', sans-serif;*/
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
        
}
.header__title-link{
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    
}
.nav{
    font-family: 'Montserrat', sans-serif;;
}
.nav__ul{
    list-style: none;
    padding: 0px;
    padding-left: 10px;
}
.nav__item{
    
    /*display: block;*/
    border-bottom: 1px solid black;
}
.nav__link{
    text-decoration: none;
    color: black;
    background-color: white;
    /*position: relative;*/
    display: block;
    padding: 20px 10px;
    
}